What harm is there to trim header values in HttpServletResponse setHeader() or addHeader() calls?

With HTTP/2, the Header Value cannot start or end with whitespace.

Code like this ...

``` java
@Override
public void doGet(HttpServletRequest req, HttpServletResponse resp) throws IOException
{
    resp.addHeader("X-Example", "bogusobs "); // note the extra space at the end
}
```

Would fail at the HPACK level on HTTP/2 because of the extra space at the end of the Header value.
Note: this would also fail at the QPACK level on HTTP/3.

This would be trivial to fix at the servlet level to just recommend trimming the incoming value parameter.
But the question is, would this kind of trim of the value cause problems or be against the Servlet spec?

See the spec for HTTP/2 ...

### [RFC9113 Section 8.2.1](https://www.rfc-editor.org/rfc/rfc9113.html#section-8.2.1)

> A field value MUST NOT start or end with an ASCII whitespace character (ASCII SP or HTAB, 0x20 or 0x09).

> A request or response that contains a field that violates any of these conditions MUST be treated as [malformed](https://www.rfc-editor.org/rfc/rfc9113.html#malformed) ([Section 8.1.1](https://www.rfc-editor.org/rfc/rfc9113.html#malformed)).

### [RFC9113 Section 8.1.1](https://www.rfc-editor.org/rfc/rfc9113.html#name-malformed-messages)

> Malformed requests or responses that are detected MUST be treated as a [stream error](https://www.rfc-editor.org/rfc/rfc9113.html#StreamErrorHandler) ([Section 5.4.2](https://www.rfc-editor.org/rfc/rfc9113.html#StreamErrorHandler)) of type [PROTOCOL_ERROR](https://www.rfc-editor.org/rfc/rfc9113.html#PROTOCOL_ERROR).

> For malformed requests, a server MAY send an HTTP response prior to closing or resetting the stream. Clients MUST NOT accept a malformed response.

Then perhaps this is a case where the javadoc on the addHeader and setHeader in the spec could be updated to point out these kinds of of cross http version incompatibility.

> I don't think we should cover up errors like this by default.

Then would this be a candidate for a new IllegalArgumentException from the servlet spec?

> > I don't think we should cover up errors like this by default.
> 
> Then would this be a candidate for a new IllegalArgumentException from the servlet spec?

I believe this is the better way.

We certainly need to update the Javadoc for the headers methods since it still refers to RFC 2047.
RFC 9110 (HTTP Semantics) states that values do not include leading or trailing whitespace.
My preference is for an `IllegalArgumentException` if the header value (or name) is invalid. Note the names are case insensitive so providing one that uses upper case is not an error.
