>Therefore, the Servlet Specification should explicitly define the ordering of request parameters:
>
>    1. First, by source (URL parameter vs request body)
>    2. Second, by ordering within the set of parameters in each source; that is, from left-to-right for URL parameters and top-to bottom for request bodies

Seems to me, this requirement (in part of URL parameters) contradicts with [RFC 3986, Section 3.4. Query](https://datatracker.ietf.org/doc/html/rfc3986#section-3.4) (definition of "hierarchical data" see in [Section 1.2.3. Hierarchical Identifiers](https://datatracker.ietf.org/doc/html/rfc3986#section-1.2.3)). Parameters in URL (Query component) cannot be considered as ordered from left to right. If URL parameters must be considered as hierarchical data, they must be set in the Path component.
For example: http://example.com/resource/foo/bar/baz

